$link-decoration: none;
$box-shadow: 0 0 10px rgba(31, 47, 224, 0.5);
$primary: #4C2818;
$danger: #A66A2C;
$secondary: #D5AA72;
// $input-color: yellow;

// #131410
// #4C2818
// #A66A2C
// #D5AA72
// #F5F6ED
@import "bootstrap/scss/bootstrap";

// #202C39
// #283845
// #4C5657
// #707469
// #B8B08D
// #F2D492
// #F2B576
// #F29559
// #F4A876